<div class="sketchfab-embed-wrapper">
         <iframe width="100%" height="100%"
         frameborder="0" allowvr="false" allowfullscreen="false" mozallowfullscreen="false" webkitallowfullscreen="false"
          src="https://sketchfab.com/models/9ac676f6f71d41518985221851b3b0a9/embed?autospin=0.2&amp;autostart=1&amp;camera=0&amp;preload=1"></iframe>


</div>
