html, body {
  width: 100%;
  height: 100%;
  background-color: 'transparent';
  color: #fff;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
}

#buttons {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background: white;
}